@import 'src/styles-variables';
$spinner-size: 50px;

.spinner {
  display: inline-flex;
  width: $spinner-size;
  height: $spinner-size;
  border-radius: 50%;
  border: 2px solid rgba($common-grey, 0.3);
  border-top: double $common-violet;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
