$headerHeight: 70px;

.c-main {
  &__header {
    height: $headerHeight;
  }

  &__content {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

  &__board {
    padding-top: $headerHeight;
  }
}
